body {
  background-color: black;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background: #f3f3f3;
}


nav {
  margin: 0;
  padding: 20px;
  background-color: #2c3e50;
}

/* FLEXBOX LAYOUT */
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center; 
}

nav ul li a { 
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #f1f1f1;
}


/* FLEXBOX LAYOUT */
header {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-align: center;
  height: 500px;
    background: url(../img/home/home-header-large.jpg) no-repeat;
    background-size: cover;
}


header h1 {
  font-size: 3em;
}


header p, p {
  font-size: 1.2em;
}


/* FLEXBOX LAYOUT */
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

/* FLEXBOX LAYOUT */
.content article {
  flex-basis: 20%;
}

.content article img {
  width: 100%;
}


/* FLEXBOX LAYOUT */
.content .sidebar {
  display: flex;
  width: 10%; 
  border-right: 1px solid black;
}

/* FLEXBOX LAYOUT */
.content .sidebar ul {
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

}

.content .sidebar ul li {
  text-align: left;
}


/* FLEXBOX LAYOUT */
.footer {
  display: flex;
  justify-content: center;
  background-color: #c5c5c5;
  flex-flow: row nowrap;
}

.footer p {
  font-size: 1em;
}


@media (max-width: 1100px) {
  /* FLEXBOX LAYOUT */
  nav ul li {
    flex-basis: 100%;
    text-align: center;
    font-size: .8em;
  }

  .content .sidebar {
    order: 1;
    width: 100%;
    border-right: none;
    border-top: 1px solid black;
  }

  .content .sidebar ul {
    flex-flow: row nowrap;
    width: 100%;
  }

  /* FLEXBOX LAYOUT */
  .content article {
    flex-basis: 44%;
  }
}

/* Media Query: Adjust header when screen gets small */
@media (max-width: 701px) {
  /* FLEXBOX LAYOUT */
  header {
    height: 300px;
    background: url(../img/home/home-header-medium.jpg) no-repeat;
    background-size: cover;
    justify-content: center;
  }

  header h1 {
    font-size: 1.6em;
  }
  header p {
    font-size: 1em;
  }
  /* FLEXBOX LAYOUT */
  .content article {
    flex-basis: 95%;
  }
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~ TRANSITION, TRANSFORM, ANIMATION CODE BELOW!!!  ~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav ul li {
  transition: transform 0.1s;
}

nav ul li:hover {
  transform: scale(1.2);
}


article img {
  transition: transform 0.5s, filter 0.5s;
}


article img:hover {
  transform: scale(1.05);
  filter: brightness(1.3);
}


.header {
  animation: 1s ease-out 0s 1 headerSliding;
  transition: filter 0.5s;
  filter: brightness(1.3);
}

@keyframes headerSliding {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}


.svg-logo {
  height: 50px;
  animation: 3s ease-out 0s infinite svgLogo;
}


.svg-logo-path {
  
}


@keyframes svgLogo {
  0% {
    fill: #DC4C46;
  }
  10% {
    fill: #672E3B;
  }
  20% {
    fill: #F3D6E4;
  }
  30% {
    fill: #C48F65;
  }
  40% {
    fill: #653A5E;
  }
  50% {
    fill: #898E8C;
  }
  60% {
    fill: #005960;
  }
  70% {
    fill: #9C9A40;
  }
  80% {
    fill: #4F84C4;
  }
  90% {
    fill: #D2691E;
  }
  100% {
    fill: #F6D155;
  }
} 
